/**
 * @package 	eagle-storytelling
 * @subpackage	CSS
 * @link 		http://www.europeana.eu/
 * @author 		Philipp Franck
 *
 * 
 * some fixes for theme css
 * 
 *
 */
@CHARSET "UTF-8";


.searchform .s { height: 24px; width: 199px; margin-right: 10px; }

.searchform .searchsubmit {
	text-indent: -9999px;
	background: transparent url('../images/search2.png') no-repeat top left;
	width: 30px;
	height: 24px;
	border: none;
	cursor: pointer
}

/* extends original style css l. 79 */ 
input[type="number"],
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="range"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="week"]
{
    background-color: #FFF;
    border: 1px solid #BBB;
    padding: 2px;
    color: #4E4E4E;
}

/* extends original style css l. 138 */ 
.story > .meta-info { padding-left: 36px; }

/* esa specific styles */
.story-thumbnail {
	float: left;
	margin-right: 1em;
}

.story-thumbnail-list {
	margin-left: -36px;
}

.post-excerpt {
	clear: both;
	margin-left: 36px;
	margin-right: 36px;
	padding-top: 18px;
	font-style: italic;
}
