.add-tag-buttons {
    text-align: right
}

.ajaxtag {
    display: inline-block
}

input[type="text"].newtag,
input[type="button"].tag-suggest-button,
input[type="button"].tag-add-button {
    cursor: pointer;
    font-size: 12px;
    display: inline-block;
    white-space: nowrap;
    font-family: sans-serif;
    overflow: hidden;
    padding: 0 10px 0 15px;
    font-weight: normal;
    border-radius: 12px;
    vertical-align: middle;
    height: 22px;
}

input[type="button"].tag-suggest-button,
input[type="button"].tag-add-button {
    color: #72777c;
    background: rgba(200, 200, 200, 0.1);
    font: normal 16px/20px dashicons;
    min-width: 22px;
    text-align: center;
    width: 20px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-left: 2px;
    padding-top: 1px;
    margin-right: 0;
    background: lightgray;
    border: 1px solid lightgray;
}

.wp-tag-cloud > li:hover:before,
input[type="button"].tag-suggest-button:hover,
input[type="button"].tag-add-button:hover {
    background: rgba(200, 200, 200, 0.1);
    border-color: lightgray;
    color: green;
}

input[type="button"].tag-suggest-button[aria-expanded="true"] {
    border-color: lightgray;
    background: rgba(0, 100, 200, 0.1);
}

input[type="button"].tag-suggest-button[aria-expanded="true"]:hover {
    color: black
}


input[type="button"].tag-add-button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0
}

input[type="button"].tag-suggest-button + .the-tagcloud {
    float: left
}

input[type="text"].newtag {
    max-width: 8em;
    background: white;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: 1px solid lightgray;
    border-right: 0;
    margin: 0;
    font-size: 14px;
    margin-right:-4px;
    box-sizing: border-box;
}

.wp-tag-cloud > li a:focus,
.tagchecklist > li button:focus,
input[type="button"].tag-add-button:focus {
    outline: none;
}

input[type="button"].tag-add-button:focus,
input[type="button"].tag-suggest-button[aria-expanded="false"]:focus {
    background: lightgray;
    color: black
}

input[type="button"].tag-suggest-button:focus {
    outline: none;
    text-decoration: none;
}

.wp-tag-cloud > li a:focus {
    text-decoration: underline;
}



.tagsdiv .the-tags {
    display: block;
    height: 60px;
    margin: 0 auto;
    overflow: auto;
    width: 260px;
    clear: both
}

.the-tagcloud {
    margin-left: 2px
}

.the-tagcloud ul {
    margin: 0;
}

.the-tagcloud ul li {
    display: inline-block;
    margin-left: 2px;
}

.wp-tag-cloud,
.tagchecklist {
    margin-left: 14px;
    font-size: 12px;
    overflow: auto;
    margin-bottom: 0
}

.wp-tag-cloud br,
.tagchecklist br {
    display: none;
}


.wp-tag-cloud > li,
.tagchecklist > li {
    max-width: 12em;
    font-size: 12px;
    font-family: sans-serif;
    overflow: hidden;
    display: inline-block;
    margin: 2px 0 0 4px;
    padding: 0 10px 0 15px;
    background: silver;
    border-radius: 12px;
    white-space: nowrap;
    cursor: pointer;
}

.wp-tag-cloud > li a {
    color: black;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 12px !important;
    box-shadow: none;
    display: inline;
    line-height: 50%;
}

.wp-tag-cloud > li:before {
    vertical-align: middle;
    background: none;
    color: #72777c;
    content: "\f502";
    display: inline;
    font: normal 16px/20px dashicons;
    line-height: 50%;
    margin-left: -12px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.wp-tag-cloud > li:hover,
.wp-tag-cloud > li:hover a,
.tagchecklist > li:hover {
    background: #CCC !important;
    color: lightcyan !important;
}

.tagchecklist .ntdelbutton {
    position: absolute;
    width: 24px;
    height: 24px;
    border: none;
    margin: -1px 0 0 -15px;
    padding: 0;
    background: none;
    cursor: pointer;
    text-indent: 0;
}


.tagchecklist .ntdelbutton .remove-tag-icon:before {
    background: none;
    color: #72777c;
    content: "\f153";
    display: block;
    font: normal 16px/20px dashicons;
    speak: none;
    height: 20px;
    text-align: center;
    width: 20px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.tagchecklist .ntdelbutton:hover .remove-tag-icon:before {
    color: red;
}

input.ui-autocomplete-input.open {
    border-bottom-color: transparent;
}



.ui-autocomplete {
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    z-index: 10000;
    border: 1px solid #5b9dd9;
    box-shadow: 0 1px 2px rgba( 30, 140, 190, 0.8 );
    background-color: #fff;
}

.ui-autocomplete li {
    margin-bottom: 0;
    padding: 4px 10px;
    white-space: nowrap;
    text-align: left;
    cursor: pointer;
}

/* Colors for the wplink toolbar autocomplete. */
.ui-autocomplete .ui-state-focus {
    background-color: #ddd;
}

/* Colors for the tags autocomplete. */
.wp-tags-autocomplete .ui-state-focus {
    background-color: #0073aa;
    color: #fff;
}

.hide-if-js {
    display: none
}

.separator {
    clear: both
}