.esa-item-tags .add-tag-buttons {
    text-align: right
}

.esa-item-tags .ajaxtag {
    display: inline-block
}

.esa-item-tags input[type="text"].newtag,
.esa-item-tags input[type="button"].tag-suggest-button,
.esa-item-tags input[type="button"].tag-add-button {
    cursor: pointer;
    font-size: 12px;
    display: inline-block;
    white-space: nowrap;
    font-family: sans-serif;
    overflow: hidden;
    padding: 0 10px 0 15px;
    font-weight: normal;
    border-radius: 12px;
    vertical-align: middle;
    height: 22px;
}

.esa-item-tags input[type="button"].tag-suggest-button,
.esa-item-tags input[type="button"].tag-add-button {
    color: #72777c;
    background: rgba(200, 200, 200, 0.1);
    font: normal 16px/20px dashicons;
    min-width: 22px;
    text-align: center;
    width: 20px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-left: 2px;
    padding-top: 1px;
    margin-right: 0;
    background: lightgray;
    border: 1px solid lightgray;
}

.esa-item-tags .wp-tag-cloud > li:hover:before,
.esa-item-tags input[type="button"].tag-suggest-button:hover,
.esa-item-tags input[type="button"].tag-add-button:hover {
    background: rgba(200, 200, 200, 0.1);
    border-color: lightgray;
    color: green;
}

.esa-item-tags input[type="button"].tag-suggest-button[aria-expanded="true"] {
    border-color: lightgray;
    background: rgba(0, 100, 200, 0.1);
}

.esa-item-tags input[type="button"].tag-suggest-button[aria-expanded="true"]:hover {
    color: black
}


.esa-item-tags input[type="button"].tag-add-button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0
}

.esa-item-tags input[type="button"].tag-suggest-button + .the-tagcloud {
    float: left
}

.esa-item-tags input[type="text"].newtag {
    max-width: 8em;
    background: white;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: 1px solid lightgray;
    border-right: 0;
    margin: 0;
    font-size: 14px;
    margin-right:-4px;
    box-sizing: border-box;
}

.esa-item-tags .wp-tag-cloud > li a:focus,
.esa-item-tags .tagchecklist > li button:focus,
.esa-item-tags input[type="button"].tag-add-button:focus {
    outline: none;
}

.esa-item-tags input[type="button"].tag-add-button:focus,
.esa-item-tags input[type="button"].tag-suggest-button[aria-expanded="false"]:focus {
    background: lightgray;
    color: black
}

.esa-item-tags input[type="button"].tag-suggest-button:focus {
    outline: none;
    text-decoration: none;
    background: rgba(180, 180, 180, 1)
}

.esa-item-tags .wp-tag-cloud > li a:focus {
    text-decoration: underline;
}



.esa-item-tags.tagsdiv .the-tags {
    display: block;
    height: 60px;
    margin: 0 auto;
    overflow: auto;
    width: 260px;
    clear: both
}

.esa-item-tags .the-tagcloud {
    margin-left: 2px
}

.esa-item-tags .the-tagcloud ul {
    margin: 0;
}

.esa-item-tags .the-tagcloud ul li {
    display: inline-block;
    margin-left: 2px;
}

.esa-item-tags .wp-tag-cloud,
.esa-item-tags .tagchecklist {
    font-size: 12px;
    overflow: auto;
    margin-bottom: 0;
    max-height: 160px;
}

.esa-item-tags .wp-tag-cloud br,
.esa-item-tags .tagchecklist br {
    display: none;
}


.esa-item-tags .wp-tag-cloud > li,
.esa-item-tags .tagchecklist > li {
    max-width: 12em;
    font-size: 12px;
    font-family: sans-serif;
    overflow: hidden;
    display: inline-block;
    margin: 2px 0 0 4px;
    padding: 0 10px 0 15px;
    background: silver;
    border-radius: 12px;
    white-space: nowrap;
    cursor: pointer;
    position: relative;
    font-weight: 400;
    line-height: 1.7;
}

.esa-item-tags .wp-tag-cloud > li a {
    color: black;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 12px !important;
    box-shadow: none;
    display: inline;
    line-height: 50%;
}

.esa-item-tags .wp-tag-cloud > li:before {
    vertical-align: middle;
    background: none;
    color: #72777c;
    content: "\f502";
    display: inline;
    font: normal 16px/20px dashicons;
    line-height: 50%;
    margin-left: -12px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.esa-item-tags .wp-tag-cloud > li:hover,
.esa-item-tags .wp-tag-cloud > li:hover a,
.esa-item-tags .tagchecklist > li:hover {
    background: #CCC !important;
    color: lightcyan !important;
}

.esa-item-tags .tagchecklist .ntdelbutton {
    position: absolute;
    width: 24px;
    height: 24px;
    border: none;
    margin: -1px 0 0 -15px;
    padding: 0;
    background: none;
    cursor: pointer;
    text-indent: 0;
}


.esa-item-tags .tagchecklist .ntdelbutton .remove-tag-icon:before {
    background: none;
    color: #72777c;
    content: "\f153";
    display: block;
    font: normal 16px/20px dashicons;
    speak: none;
    height: 20px;
    text-align: center;
    width: 20px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.esa-item-tags .tagchecklist .ntdelbutton:hover .remove-tag-icon:before {
    color: red;
}

.esa-item-tags .tagchecklist.no-delete-btn li {
    padding-left: 8px
}

.esa-item-tags .tagchecklist.no-delete-btn .ntdelbutton {
    display: none
}

input.ui-autocomplete-input.open {
    border-bottom-color: transparent;
}

.ui-autocomplete {
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    z-index: 10000;
    border: 1px solid lightgray;
    box-shadow: 0 1px 2px rgba( 0, 0, 0, 0.3 );
    background-color: #fff;
    font-family: sans-serif;
}

.ui-autocomplete li {
    margin-bottom: 0;
    padding: 4px 10px;
    white-space: nowrap;
    text-align: left;
    cursor: pointer;
    line-height: 50%
}

/* Colors for the wplink toolbar autocomplete. */
.ui-autocomplete .ui-state-focus {
    background-color: #ddd;
}

/* Colors for the tags autocomplete. */
.wp-tags-autocomplete .ui-state-focus {
    background: #CCC;
    color: lightcyan;
}

.esa-item-tags .hide {
    display: none !important
}

.esa-item-tags .separator {
    clear: both
}