/**
 * @package 	eagle-storytelling
 * @subpackage	Search in Datasources | esa_item CSS
 * @link 		http://www.europeana.eu/
 * @author 		Philipp Franck
 */
@CHARSET "UTF-8";

/* esa item is important! its the visual interpretation of our shortcuts */
.esa_item {
	background-color: white;
	min-width: 190px;
	min-height: 190px;
	position: relative;
	margin-top: 3px;
	margin-bottom: 3px;
	overflow: hidden;	
}

.esa_item:hover {
	background-color: #CCC;
}

.esa_item_inner {
	padding: 20px;
}

.esa_item_collapsed {
	height: 190px;
}

/* special types of esa_items */

.esa_item_right {
	float: left;
	margin-right: 3px;
	margin-left: 0px;
}

.esa_item_left {
	float: right;
	margin-left: 3px;
	margin-right: 0px;
}

/* -- */

.esa_item_tools {
	position: absolute;
	border: 1px solid #A0A5AA;
	border-radius: 2px;
	right: 1em;
	display: none;
	z-index: 10000;
	padding: 2px;
	background: #F5F5F5;
	margin-top: 1em
}

.esa_item_tools a {
	display: block;
	background: #F5F5F5;
	height: 28px;
	width: 28px;
	background: url('../images/eye.png') center center no-repeat white;
	color: rgba(0,0,0,0);
	cursor: pointer;
	float: right;
	padding: 1px
}

.esa_item_tools a:hover {
	border: 1px solid #A0A5AA;
	border-radius: 2px;
	padding: 0px
}

.esa_item_tools a.esa_item_tools_originurl {
	background: url('../images/eye.png') center center no-repeat white;
}

.esa_item_tools a.esa_item_tools_edit {
	background: url('../images/edit.png') center center no-repeat white;
}

.esa_item_tools a.esa_item_tools_featured {
	background: url('../images/featured.png') center center no-repeat white;	
}

.esa_item_tools a.esa_item_tools_delete {
	background: url('../images/delete.png') center center no-repeat white;	
}

.esa_item_tools a:focus {
	box-shadow: none
}

.esa_item_tools a:hover {
	/*box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.8);*/
	opacity: 1
}

.esa_item_resizebar {
	background-color: rgba(0,0,0,0.4);
	background-image: url('../images/arrow-up.png');
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: 9px;
	background-size: 9px;
	color: white;
	text-align: center;
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 9px;
	margin-top: 1px;
	padding: 2px;
	display: none;
	cursor: pointer;
}

.esa_item_collapsed .esa_item_resizebar {
	background-image: url('../images/arrow-down.png');
}


.esa_item:hover .esa_item_tools {
	display: block
}

/* esa_item style */

.esa_item_collapsed .esa_item_left_column_max_left,
.esa_item_left_column {
	width: 150px;
	float: left;
}

.esa_item_left_column_max_left {
	width: 100%
}

.esa_item_collapsed .esa_item_right_column_max_left,
.esa_item_right_column {
	margin-left: 160px;
}

.esa_item_right_column_max_left {
}

.esa_item_main_image {
	width: 150px;
	height: 150px;
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	background-size: cover;
	
}

.esa_item_subtext {
	margin-bottom: 5px
}

.esa_item p {
	margin: 0px !important
}

 .esa_item_map {
 	width:  100%; /*100%; */
	height: 400px;
	margin-bottom: 15px;
 }

.esa_item_collapsed .esa_item_map {
	width: 150px;
	height: 150px;
	margin-bottom: 0px;
}


.esa_item_inner h4 {
	padding: 0px;
	margin: 0px;
	font-size: 14px;
	color: #4D4D4A;
	letter-spacing: 1px;
	font-weight: normal;
	text-transform: uppercase;
}


.esa_item_inner ul.datatable {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.esa_item_inner ul.datatable li {
	padding-bottom: 0px;	
}

/* special definitions for different types of esa_items ... todo: when it gets more, maybe just load the css we need not all */




/* esa europeana */

.esa_item_europeana {
	background-image: url('../images/europeana-logo-2.png');
	background-position: top right;
	background-repeat: no-repeat;
}





/* debug */

.esa_debug {
	background: #F2EF99;
	max-height:300px; 
	overflow: scroll;
	display: block	
}