@CHARSET "UTF-8";

/* esa item is important! its the visual interpretation of our shortcuts */
.esa_item {
	border: 2px solid silver;
	width: 200px;
	height: 200px;
	overflow: hidden;
	float: left;
	margin: 4px;
	padding: 1px
}

/* special definitions for different types of esa_items ... todo: when it gets more, maybe just load the css we need not all */

/* esa wiki */
.esa_item_wiki img {
	width:100%;
	height:100%	
}

.esa_item_wiki .subtext {
	background: rgba(255,255,255,0.3);

}


/* esa europeana */

.esa_item_europeana {
	background: url('images/europeana-logo-2.png') bottom right no-repeat;
}

.esa_item_europeana .wrapper {
	height: 100%;
	width: 100%;
	background-color: rgba(255,255,255,0.7)
}

.esa_item_europeana h1 {
	font-weight: bold;
	font-size: 10pt;
}

.esa_item_europeana .datatable {
	font-size: 7pt;
	border-collapse: collapse; 
	width: 100%
}

.esa_item_europeana .datatable td {
	border: 1px solid silver;
	background-color: rgba(255,255,255,0.7)
}
	

/* esa result overview (in admin "add media" - area) */
.esa_item_list .esa_item {
	border: 2px solid silver;
	width: 130px;
	height: 130px;
	overflow: hidden;
	float: left;
	padding: 4px;
	cursor: pointer
}

.esa_item_list .selected {
	border: 2px solid blue;
}

.esa_item_list .esa_item:hover {
	border: 2px solid black;
}

.esa_debug {
	background: #F2EF99;
	max-height:300px; 
	overflow: scroll;
	display: none	
}


#esa_item_list_main {
	padding: 6px;
	height: 100%;
	overflow: scroll-y;
}

#esa_item_list_sidebar {
	padding: 6px;
	border-left: 1px solid #CCC;
	height: 100%;
	overflow: scroll-y;
	float: right;
}

#esa_item_preview {
	height: 400px;
	width: 400px;
	overflow: hidden;	
	margin-bottom: 6px;
	border-bottom: 1px solid #CCC;
}
/* some fixes for main css */ 

.searchform .s { height: 24px; width: 199px; margin-right: 10px; }

.searchform .searchsubmit {
	text-indent: -9999px;
	background: transparent url(images/search2.png) no-repeat top left;
	width: 30px;
	height: 24px;
	border: none;
}

/* extends original style css l. 79 */ 
input[type="number"],
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="range"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="week"]
{
    background-color: #FFF;
    border: 1px solid #BBB;
    padding: 2px;
    color: #4E4E4E;
}