@CHARSET "UTF-8";

/* esa item is important! its the visual interpretation of our shortcuts */
.esa_item {
	border: 2px solid silver;
	width: 200px;
	height: 200px;
	overflow: hidden;
	float: left;
	margin: 4px
}


/* esa wiki */
.esa_item_wiki img{
	width:100%;
	height:100%	
}

.esa_item_wiki .subtext {
	background: rgba(255,255,255,0.3);

}
	

/* esa result overview */
.esa_item_list .esa_item {
	border: 2px solid silver;
	width: 130px;
	height: 130px;
	overflow: hidden;
	float: left;
	margin: 4px;
	cursor: pointer
}

.esa_item_list .selected {
	border: 2px solid blue;
}

.esa_item_list .esa_item:hover {
	border: 2px solid black;
}

/* some fixes for main css */

.searchform .s { height: 24px; width: 199px; margin-right: 10px; }

.searchform .searchsubmit {
	text-indent: -9999px;
	background: transparent url(images/search2.png) no-repeat top left;
	width: 30px;
	height: 24px;
	border: none;
}

/* extends original style css l. 79 */ 
input[type="number"],
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="range"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="week"]
{
    background-color: #FFF;
    border: 1px solid #BBB;
    padding: 2px;
    color: #4E4E4E;
}