@CHARSET "UTF-8";

/* infopage */


#esa_infotable {
	margin: 20px;
}

#esa_infotable td {
	paddin: 3em;
	vertical-align: middle;
	font-size: 150%
}


.wrap #esa_item_list_sidebar {
	border: none;
	padding: 6px;
	margin-top: 40px;
	height: 100%;
	overflow: auto;
	float: right;
	height: 100%;
	background-color: #FCFCFC;
	width: 350px;
}

#wpwrap {
	background: white;
}

.wrap {
	max-width: 1024px;
}

#dai_name {
	line-height: 1.2em;
	color: #2E2E2E;
	font-family: "Source Sans Pro",Arial,Helvetica,sans-serif;
	text-decoration: none
}